{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <h1 class="mx-auto"
        style="margin: 5px 0 20px 0; text-align: center;
        color: #ffffff; font-weight: 100;">
      Редактирование типа недвижимости
    </h1>

    <div class="card col-8 text-white bg-q mx-auto" style="margin-bottom: 20px;">
      <div class="card-body">
        {{ form_start(form) }}
        <div class="form-group">
          {{ form_row(form.name) }}
        </div>
        <br>
        <div class="form-group">
          {{ form_row(form.submit) }}
        </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock body %}

{% block stylesheets %}
  {{ parent() }}
  <style>
    /* Template styles */
    :root {
      --main-bg-color: #423443;
      --grape-color: #2A212B;
      --grape-color-transparent: rgba(42, 33, 43, 0.7);
      --light-color: #AA7E7B;
      --light-color-hover: #986f6d;
      --dark-color: #2A212B;
      --light-color-transparent: rgba(170, 126, 123, 0.95);
    }
    body {
      /*background-image: url("bundles/platformlanding/images/body_background.jpg");*/
      /*background-repeat: repeat;*/
      background-color: var(--main-bg-color);
    }

    .bg-q {
      background-color: var(--dark-color);
    }

    /* Content area styles */
    .bg-grape {
      background-color: var(--grape-color);
    }

    /* Navigation bar styles */
    .navbar {
      padding: .7rem 1rem;
      /*position: fixed;*/
      /*left: 0;*/
      /*right: 0;*/
    }
    .navbar-transparent {
      background: none;
    }

    body{
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      height: 100%;
    }
  </style>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}
